<footer class="b-warning py-1">
    <div class="flex w-border gap-md align-center">
        <div id="socials" class="w-6 flex gap-lg">
            <h3>Our Socials</h3>
            <ul>
                <li><img src="/images/icons/facebook.png" alt="facebook"></li>
                <li><img src="/images/icons/instagram.png" alt="instagra"></li>
                <li><img src="/images/icons/twitter.png" alt="twitter"></li>
                <li><img src="/images/icons/pinterest.png" alt="pinterest"></li>
            </ul>
        </div>
        <div id="copyright" class="w-6">
            &#169; Copyright 2023 BlogIt. All rights reserved. 
        </div>
    </div>
</footer>
<script src="/script/script.js"></script>
</body>
</html>