<%- include("partials/header.ejs") %>
   


    <form action="/create-post/submit" method="post" enctype="multipart/form-data">
    <main>
        <div class="w-border sidebar-right">
            <div id="blog-container" class="py-2">
                <div id="blog-header" class="flex space-between align-center pb-1 mb-1">
                    <h1 class="title">Create new post</h1>
                </div>
                
                <div id="single-blog" class="pt-1">
                    <div class="w-12 mb-2">
                        <label for="title"><h3 class="mb-1">Title</h3></label>
                        <input type="text" name="title" class="form-control" required>
                    </div>
                    <div class="w-12 mb-2">
                        <label for="excerpt"><h3 class="mb-1">Excerpt</h3></label>
                        <textarea name="excerpt" id="excerpt" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <div class="w-12 mb-2">
                        <label for="title"><h3 class="mb-1">Content</h3></label>
                        <script>
                            tinymce.init({
                                selector: '#content',
                                plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
                                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
                            });
                        </script>
                        <textarea name="content" id="content" required>
                    
                        </textarea>
                    </div>
                </div>
            </div>
            <div id="sidebar" class="py-2">
                <input type="submit" class="btn btn-success w-12 mb-1">
                <a href="/" class="btn btn-danger mb-1 w-12">Cancel </a>

                <div id="featured-image" class="pt-1 pb-1">
                    <h4>Featured Image</h4>
                    <input type="file" name="image" class="mt-2" required>
                </div>

            </div>
        </div>
    </main>
    </form>
<%- include("./partials/footer.ejs") %>