*{
    font-family: 'Work Sans', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

ul, ul li{
    margin: 0;
    padding: 0;
}

ul, ul li{
    list-style-type: none;
}

header{
    max-width: 100%;

}

.flex{
    display: flex;
    gap: auto;
}

.wrap{
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.inline-block{
    display: inline-block;
}

.inline{display: inline;}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.gap-lg{
    gap: 3em;
}

.gap-md{
    gap: 2em;
}

.py-1{
    padding-bottom: 1em;
    padding-top: 1em;
}

.py-2{
    padding-bottom: 2em;
    padding-top: 2em;
}

.pt-1{
    padding-top: 1em;
}

.pt-2{
    padding-top: 2em;
}

.pb-1{
    padding-bottom: 1em;
}

.pb-2{
    padding-bottom: 2em;
}

.pt-2{
    padding-top: 2em;
}

.mb-1{
    margin-bottom: 1em;
}

.mb-2{
    margin-bottom: 2em;
}

.mt-1{
    margin-top: 1em;
}

.mt-2{
    margin-top: 2em;
}

.list-style-none li{
    list-style-type: none;
}

.w-border{
    padding: 20px 100px;
}

.blog-list{
    width: 100%;
}

header{
    box-sizing: border-box;
    background-color: #eeeeee;
}

ul li a, .nav-icon a{
    text-decoration: none;
    color: #000;
}

.m-menu-container{
    position: absolute;
    width: 400px;
    height:  100%;
    right: -1000px;
    top: 0;
    box-sizing: border-box;
}

.m-menu-container .m-header, .m-menu-container .m-footer{
    padding: 20px 20px;
    background-color: #f3f3f3;
}

.m-menu-container .m-body{
    padding: 40px 30px;
    background-color: #ffffff;
    height: 100vh;
}

.m-menu-show{
    animation: slide-in .3s forwards;
    width: 100%;
}

.sidebar-right{
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 40px;
}

.w-12{
    width: 100%;
}

.w-11{
    width: 91.66%;
}

.w-10{
    width: 83.33%;
}

.w-9{
    width: 75%;
}

.w-8{
    width: 66.66%;
}

.w-7{
    width: 58.33%;
}

.w-6{
    width: 50%;
}

.w-5{
    width: 41.66%;
}

.w-4{
    width: 33.33%;
}

.w-3{
    width: 25%;
}

.w-2{
    width: 16.66%;
}

.w-1{
    width: 8.3333%;
}

/** Blog **/

#blog-header{
    border-bottom: 1px solid #cccccc;
}

#filter select{
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 8px;
    text-align: left;
}

.btn-green{
    background-color: #54ED7D;
    padding: 8px 20px;
    text-decoration: none;
    color: #000;
    border-radius: 4px;
}

.blog-item-image{
    height: 180px;
    background-size: cover;
    background-position: center;
    border-radius: 18px 18px 0 0;
}

.blog-item{
    border-radius: 18px;
    background-color: #f1f1f1;
}

.blog-item-content{
    padding: 20px;
}

.blog-item-title{
    margin-bottom: 14px;
}

.blog-item-excerpt{
    color: #6a6a6a;
    margin-bottom: 16px;
    font-size: 14px;
}

.btn {
    padding: 8px 20px; /* Adjusted padding */
    height: auto;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
}

.btn-success{
    background-color: #54ED7D; /* Background color added */
    color: #000;
}

.btn-info{
    background-color: #29ABE2; /* Background color added */
    color: #ffffff;
}

.btn-danger{
    background-color: #c80000; /* Background color added */
    color: #ffffff;
}

.btn-warning{
    background-color: #ED9758; /* Background color added */
    color: #ffffff;
}


.b-warning{
    background-color: #ED9758;
}

.material-symbols-outlined {
    vertical-align: middle;
    margin-left: 5px; /* Adjust the margin as needed for spacing between text and icon */
    font-size: 1.2em; /* Adjust the font size of the icon as needed */
}

#blog-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust the minimum and maximum width as needed */
    grid-gap: 16px; /* Adjust the gap between items as needed */
}

/** Sidebar */
#categories, #featured-image{
 border-top: 1px solid #cccccc;
}

#sidebar ul .list-item{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}

#sidebar ul .list-item a{
    color: #5e5e5e;
}

/** Footer **/

#copyright{
    text-align: right;
}

#socials ul li{
    display: inline-block;
    padding-right: 10px;
}

#socials ul li img{
    width: 20px;
}

/** Single blog **/

.single-blog-image{
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
}

/** Form Control **/

.form-control{
    height: 50px;
    font-size: 20px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    display: block;
    box-sizing: border-box;
    border: 1px solid #d2d2d2;
}

.form-control:focus-visible{
    outline: none;
}

#excerpt{
    max-width: 100%;
    box-sizing: border-box;
    height: 100px;
    resize: none;
}

#content{
    display: block;
}

@keyframes slide-in{
    100% {right: 0;}
}

@keyframes slide-out{
    0% { right: 0; }
    100% { right: -400px; }
}

@media (min-width: 1281px) {
    .nav-icon{
        display: none;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .nav-icon{
        display: none;
    }       
}
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
@media (min-width: 768px) and (max-width: 1024px) {
    .nav-icon{
        display: none;
    }

    .txt-md{
        font-size: 2.25rem;
    }

    .info{
        max-width: 70%;
        text-align: left;
        margin: 0;
    }
}
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .nav-icon{
        display: none;
    }
}
  
/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
  
@media (min-width: 481px) and (max-width: 768px) {
    .nav-icon{
        display: block;
    }

    .nav-items{
        display: none;
    }

    .container{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .info{
        max-width: 100%;
        text-align: left;
    }    
}
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    .nav-icon{
        display: block;
    }

    .nav-items{
        display: none;
    }

    .container{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    header{
        background-color: #ffffff;
        border-bottom: 1px solid #d5d5d5;
    }
}
